*.yml
*.zip
__pycache__
venv
.vs
.vscode
.idea/
XYZ
/auto-save/
/build/
/dist/
extracted_data
log.txt
custom_songlist.json
DBGHELP-tmp.zip
randomizer-config.json
tourney_gen.txt
presets/devonly-*.json
music-rando-config.json