*.yml
*.zip
__pycache__
venv
.vs
.vscode
.idea/
XYZ
/auto-save/
/build/
/cache/
/dist/
extracted_data
log.txt
custom_songlist.json
DBGHELP-tmp.zip
musiclist.json
randomizer-config.json
tourney_gen.txt
presets/**/devonly-*.json
music-rando-config.json
/env
EnemyRandoData
/env1
/.gitignore
/.gitignore
