*.zip
__pycache__
venv
.vs
.vscode
.idea/
XYZ
/auto-save/
/build/
/cache/
/dist/
extracted_data
log.txt
item-pictures.json
musiclist.json
randomizer-config.json
presets/**/devonly-*.json
/env
EnemyRandoData
