bitstring==3.1.9
khbr==4.0.5
kh2fmbr==0.0.1
numpy==2.5.1
packaging==26.2
pefile==2024.8.26 ; sys_platform == "win32"
pillow==12.3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PySide6==6.11.1
pytz==2026.2
pywin32-ctypes==0.2.3 ; sys_platform == "win32"
PyYAML==6.0.3
requests==2.34.2
shiboken6==6.11.1
tomlkit==0.11.1
