body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ddd;
    background-color: #333;
    margin-left: 40px;
    margin-right: 40px;
}

select, input {
    background-color: #555;
    color: #ddd;
}

a {
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    place-content: stretch;
    grid-gap: 5px;

    > div {
        display: flex;
        align-items: center;
        min-height: 40px;
        padding-top: 5px;
        padding-bottom: 5px;

        &.vertical {
            flex-direction: column;
            align-items: normal;

            > div.bottom {
                padding-top: 20px;
            }
        }

        > input[type="text"], > input[type="number"], > select {
            width:100%;
            height:100%;
        }

        > span {
            text-align: right;
        }
        > div {
            display: flex;
            padding-bottom: 3px;
        }
    }

    &.seed{
        grid-template-columns: 40px repeat(6, minmax(40px,auto));
    }

    &.exp{
        grid-template-columns: repeat(7, minmax(40px,auto));
    }

    &.enemy{
        grid-template-columns: repeat(3, minmax(60px, auto));
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    + label {
        margin-left: 4px;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked {
    + .slider {
    background-color: #2196F3;
    &:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
  }
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Rounded sliders */
.slider {
    &.round {
        border-radius: 20px;
        &:before {
            border-radius: 50%;
        }
    }
}

@media only screen and (min-width: 1024px){
    .container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}


#seed {
    grid-column-start: 2;
    grid-column-end: 7;
}

#hint {
    height: 20px;
}

h4,h5,h6 {
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 3px;
}
