body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ddd;
  background-color: #333;
  margin-left: 40px;
  margin-right: 40px;
}

select, input {
  background-color: #555;
  color: #aaa;
  border: none;
  padding: 5px;
}

a {
  color: #fff;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: stretch;
  grid-gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.container > div.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.container > div.vertical > div.bottom {
  padding-top: 20px;
}

.container > div > input[type="text"], .container > div > input[type="number"], .container > div > select {
  width: 100%;
  height: 100%;
}

.container > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
}

.container.seed {
  -ms-grid-columns: 60px (minmax(40px, auto))[6];
      grid-template-columns: 60px repeat(6, minmax(40px, auto));
}

.container.exp {
  -ms-grid-columns: (minmax(40px, auto))[7];
      grid-template-columns: repeat(7, minmax(40px, auto));
}

.container.enemy {
  -ms-grid-columns: (minmax(60px, auto))[3];
      grid-template-columns: repeat(3, minmax(60px, auto));
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch + label {
  margin-left: 4px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
  .container {
    -ms-grid-columns: (minmax(300px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

#seed {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 7;
}

#hint {
  height: 30px;
}

h4, h5, h6 {
  grid-column: 1 / -1;
  margin-top: 0;
  margin-bottom: 3px;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */