body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    margin-left: 40px;
    margin-right: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    place-content: stretch;
    border-color: #aaa;
    border-width: medium;
    border-style: groove;
    grid-gap: 0px 5px;
    padding: 5px;
}

.container:first-of-type{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.container:not(:first-of-type){
    border-top: 0px;
}
.container:not(:last-of-type){
    border-bottom: 0px;
}

.container > div {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container > div > input[type="text"], .container > div > input[type="number"], .container > div > select {
    width:100%;
    height:100%;
}

.container > div > span {
    min-width: 60px;
    text-align: right;
    padding-right: 5px;
}

.seed.container {

    grid-template-columns: 40px repeat(6, minmax(40px,auto));

}

select#preset{
    border-top-right-radius: 1rem;
}

#seed {
    grid-column-start: 2;
    grid-column-end: 7;
}

h4,h5,h6 {
    grid-column: 1 / -1;
    margin-top: 0;
    margin-bottom: 3px;
}
