{% extends "head.jinja" %}
{% block content %}

<div class="container answer">
    <div>
        <h4><a href="#modOrder" id="modOrder">What priority should the Randomizer Seed mod be?</a></h4>
        <div>
            Randomizer Seed mod should be placed at the highest priority in the OpenKH Mod Manager. The Randomizer Seed needs to overwrite a number of defaults set by other mods, including the Garden of Assemblage All-In-One mod.
        </div>
    </div>
</div>

{% endblock %}