<head>
    <title>Kingdom Hearts 2: Final Mix Randomizer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/FileSaver.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/preset.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/tail.select.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tail.select-dark.min.css')}}">
{%block meta%}{%endblock%}
</head>
<body>
        <h1><a href={{url_for('index')}}>Kingdom Hearts 2: Final Mix Randomizer</a></h1>
        <em style="background-color: darkred; color: white; font-size: 40px;">THIS WEBSITE IS GETTING PHASED OUT. PLEASE DOWNLOAD THE LOCAL VERSION OF THE SEED GENERATOR <a href="https://github.com/tommadness/KH2Randomizer/releases/">HERE</a></em><br>
        <em>Download <a href={{url_for('static', filename='F266B00B Quality of Life Patches.pnach')}} download>this PNACH created by Shananas</a> for Faster Oogie, Faster Hyenas, and Skip Dragon Xemnas.</em>
        <em>Lua version of QOL patch for PC <a href={{url_for('static', filename='OpenKHQualityOfLife.lua')}} download>here</a></em>
        <div style="margin-top: 10px">Last update: <a href="https://github.com/tommadness/KH2Randomizer/blob/master/helpinfo/changelog.md">2021-09-08</a></div>

    {%block content%}{%endblock%}
</body>
