<head>
    <title>Kingdom Hearts 2: Final Mix Randomizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-multiselect.min.js')}}"></script>
    <link href="{{url_for('static', filename='css/bootstrap-multiselect.min.css')}}" rel="stylesheet">

</head>
<body>
    <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <div class="container">
        <h1><a href={{url_for('index')}}>Kingdom Hearts 2: Final Mix Randomizer</a></h1> 
    </div>
    {%block content%}{%endblock%}
</body>