{% extends "head.jinja" %}
{% block content %}
        
<div class="container" id="form">
<h2>{{message}}</h2>
<form action='/seed' method="POST">
    <div class="container mb-3">
    <div class="row">
    <span class="input-group-text col-1">Seed:</span><input class="form-control col" id='seed' name='seed' type='text'/>
    </div>
    </div>
    
        {%set ns = namespace(counter = 0)%}
    <div class="container mb-3" id="worlds">
    <h4>Item Randomizer:</h4>
    {% for location in locations %}
        {% if ns.counter % 3 == 0%}
        <div class="row">
        {%endif%}
            <div class="col-4 custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" id={{location}} value= "{{location}}" name="include" {%if location != locations.Atlantica %} checked {%endif%}>
                <label class="custom-control-label" for={{location}}>{{location.value}}</label>
            </div>
        {%set ns.counter = ns.counter+1%}
        {% if ns.counter % 3 == 0%}
        </div>
        {%endif%}
    {% endfor %}
    </div>

    <div class="row mb-3">
        <div class="input-group col">
            <span class="input-group-text col-md">Sora Levels:</span>
            <select class="input-group-select col-sm" name="levelChoice">
                <option value="Level">Level 1</option>
                <option selected value="ExcludeFrom50">Level 50</option>
                <option value="ExcludeFrom99">Level 99</option>
            </select> 
        </div>
        <div class="input-group col">
            <span class="input-group-text col-9">Keyblade Minimum Stat:</span><input class="form-control col-3" min="0" max="10" value="0" required type="number" name="keybladeMinStat">
        </div>
        <div class="input-group col">
            <span class="input-group-text col-9">Keyblade Max Stat:</span><input class="form-control col-3" min="1" max="10" value="7" required type="number" name="keybladeMaxStat">
        </div>
    </div>


    {%set ns = namespace(counter = 0)%}
    {% for expType in expTypes %}
    {% if ns.counter % 3 == 0 %}
    <div class="row">
    {% endif %}
    <div class="input-group mb-3 col-md"><span class="input-group-text col-9">{{expType}} Experience:</span><input class="form-control col-3" step="0.5" min="1" max="10" value="1" required type="number" name="{{expType}}Exp"></div>
    {% set ns.counter = ns.counter+1%}
    {% if ns.counter % 3 == 0%}
    </div>
    {% endif %}
    {% endfor %}

    <div class="container">
    <div class="row justify-content-evenly mb-3">
        <div class="col">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{keybladeAbilities[0]}}" name="keybladeAbilities" value="{{keybladeAbilities[0]}}" checked>
                <label class="custom-control-label" for="{{keybladeAbilities[0]}}">{{keybladeAbilities[0]}} Keyblade Abilities</label>
            </div>
        </div>
        <div class="col">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{keybladeAbilities[1]}}" name="keybladeAbilities" value="{{keybladeAbilities[1]}}">
                <label class="custom-control-label" for="{{keybladeAbilities[1]}}">{{keybladeAbilities[1]}} Keyblade Abilities</label>
            </div>
        </div>
    </div>
    {%set ns = namespace(counter = 0)%}
    {% for config in miscConfig %}
    {% if ns.counter % 3 == 0 %}
        <div class="row justify-content-evenly">
    {% endif %}
            <div class="col">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" type="checkbox" id="{{config}}" name="{{config}}">
                    <label class="custom-control-label" for="{{config}}">{{miscConfig[config]}}:</label>
                </div>
            </div>
    {% set ns.counter = ns.counter+1%}
    {% if ns.counter % 3 == 0%}
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <br/>
    <h4>Boss/Enemy Randomizer: <em>(CURRENTLY IN ALPHA)</em></h4>
    <div class="row mb-3">
        {%for optionGroup in bossEnemyConfig%}
        <div class="col">
        <label for="{{optionGroup}}" data-toggle="tooltip" data-placement="top" title="{{bossEnemyConfig[optionGroup].description}}">{{bossEnemyConfig[optionGroup].display_name}}</label>
        {%if bossEnemyConfig[optionGroup].possible_values == [True, False] or bossEnemyConfig[optionGroup].possible_values == [False, True]%}
        <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="{{optionGroup}}" name="{{optionGroup}}" {%if bossEnemyConfig[optionGroup].possible_values == [True, False]%} checked {%endif%}>
        </div>
        {%else%}
        <select name="{{optionGroup}}">
        {%for option in bossEnemyConfig[optionGroup].possible_values%}
            <option value="{{option}}">{{option}}</option>
        {%endfor%}
        </select>
        {%endif%}
        </div>
        {%endfor%}
    </div>
    <div class="row mb-3">
    <div class="col-4">
        <h4>Hint System:</h4>
        <select name="hintsType" style="width:100%">
        {%for option in hintSystems%}
            <option value={{option}}>{{option}}</option>
        {%endfor%}
        </select>
    </div>
    <div class="col-4">
    <h4>Sora's Starting Inventory</h4>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#starting-inventory').multiselect({
                enableCollapsibleOptGroups: true
            });
        });
    </script>
    <select id="starting-inventory" multiple="multiple" name="startingInventory">
    {%for category in startingInventory["options"]%}
    <optgroup label="{{category}}" class="group-{{category}}">
        {%for dict in startingInventory["options"][category]%}
            {%for id, item in dict.items()%}
            <option value={{id}}>{{item}}</option>
            {%endfor%}
        {%endfor%}
    </optgroup>
    {%endfor%}
    </select>
    </div>
    </div>
    Generate Spoiler Log: <input type="checkbox" name="spoilerLog"><br>
    <input type='submit'>
</form>
</div>
{% endblock %}