{% extends "head.jinja" %}
{% block content %}
        
<h2>{{message}}</h2>
<form action='/seed' method="POST">
    <div class="container seed">
        <div>
            <label class="textboxLabel">Seed</label>
        </div>
        <div id="seed"><input name='seed' type='text' placeholder="Leave blank for a random seed"/></div>
        <div>
            <select id="preset">
                <option disabled selected>Select a Preset</option>
            </select>
        </div>
    </div>
    
    <div class="container worlds">
    <h4>Item Randomizer</h4>
        {% for dict_item in locations %}
        {% for key, values in dict_item.items()%}
        <h5>{{key}}</h5>
        {% for location in values %}
            <div>
                <label class="switch"><input type="checkbox" id="{{location}}" value="{{location}}" name="include" {%if location != locations.Atlantica %} checked {%endif%}><span class="slider round"></label><label for="{{location}}">{{location.value}}</label>
            </div>
            {%endfor%}
            {%endfor%}
        {% endfor %}
        </div>

    <div class="container">
    <div>
        <span class="textboxLabel">Sora Levels</span>
        <select name="levelChoice">
            <option value="Level">Level 1</option>
            <option selected value="ExcludeFrom50">Level 50</option>
            <option value="ExcludeFrom99">Level 99</option>
        </select> 
    </div>
    <div><span>Keyblade Minimum Stat</span><input min="0" max="10" value="0" required type="number" name="keybladeMinStat"></div>
    <div><span>Keyblade Max Stat</span><input min="1" max="10" value="7" required type="number" name="keybladeMaxStat"></div>
    </div>
    
    <div class="container exp">
    <h5>Experience Multipliers</h5>
        {% for expType in expTypes %}
        <div class="vertical"><span>{{expType}}</span><input step="0.5" min="1" max="10" value="1" required type="number" name="{{expType}}Exp"></div>
        {% endfor %}
    </div>

    <div class="container">
    <h5>Misc Settings</h5>
        <div>
            <label class="switch"><input type="checkbox" id="{{keybladeAbilities[0]}}" value="{{keybladeAbilities[0]}}" name="keybladeAbilities" checked><span class="slider round"></label><label for="{{keybladeAbilities[0]}}">Support Keyblade Abilities</label>
        </div>
        <div>
            <label class="switch"><input type="checkbox" id="{{keybladeAbilities[1]}}" value="{{keybladeAbilities[1]}}" name="keybladeAbilities"><span class="slider round"></label><label for="{{keybladeAbilities[1]}}">Action Keyblade Abilities</label>
        </div>
        {% for config in miscConfig %}
            <div>
                <label class="switch"><input type="checkbox" id="{{config}}" name="{{config}}"><span class="slider round"></label>
                <label for="{{config}}">{{miscConfig[config]}}</label>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="vertical top">
            <h4>Hint System</h4>
            <select name="hintsType" style="width:100%" id="hint">
                {%for option in hintSystems%}
                    <option value={{option}}>{{option}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="vertical top">
            <h4>Sora's Starting Inventory</h4>
            <select id="starting-inventory" multiple="multiple" name="startingInventory">
                {%for category in startingInventory["options"]%}
                    <optgroup label="{{category}}" class="group-{{category}}">
                        {%for dict in startingInventory["options"][category]%}
                            {%for id, item in dict.items()%}
                                <option value={{id}}>{{item}}</option>
                            {%endfor%}
                        {%endfor%}
                    </optgroup>
                {%endfor%}
            </select>
        </div>
        <div class="vertical">
            <h4>Seed Modifiers</h4>
            {%for modifier in seedModifiers%}
                <div>
                    <label class="switch"><input type="checkbox" name="seedModifiers" value="{{modifier["name"]}}" id="{{modifier["name"]}}"/><span class="slider round"></label>
                    <label for="{{modifier["name"]}}" data-toggle="tooltip" data-placement="top" title="{{modifier["description"]}}">{{modifier["name"]}}</label> 
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="container enemy">
    <h4>Enemy Randomizer <em>(CURRENTLY IN BETA)</em></h4>
    <h5><em>Please report any enemy randomizer bugs <a href="https://docs.google.com/forms/d/e/1FAIpQLSetSQExeeuJH45A57nVMPzba0uPYSe9c0tfOMFypihnQMDNjA/viewform">HERE</a></em></h5>
    <h5><em>Please report any boss randomizer bugs <a href="https://forms.gle/Y3X8F1wvMMz3XPr66">HERE</a></em></h5>
    <h6>Randomization can take a few minutes. Please be patient.</h6>
        {%for optionGroup in bossEnemyConfig if not optionGroup in ["memory_expansion", "scale_boss_stats", "cups_bosses", "data_bosses"]%}
            <div class="vertical">
                
                {%if bossEnemyConfig[optionGroup].possible_values == [True, False] or bossEnemyConfig[optionGroup].possible_values == [False, True]%}
                    <div class="bottom">
                        <label class="switch"><input type="checkbox" id="{{optionGroup}}" name="{{optionGroup}}" {%if bossEnemyConfig[optionGroup].possible_values == [True, False]%} checked {%endif%}><span class="slider round"></label>
                        <label for="{{optionGroup}}" data-toggle="tooltip" data-placement="top" title="{{bossEnemyConfig[optionGroup].description}}">{{bossEnemyConfig[optionGroup].display_name}}</label>
                    </div>
                {%else%}
                    <label for="{{optionGroup}}" data-toggle="tooltip" data-placement="top" title="{{bossEnemyConfig[optionGroup].description}}">{{bossEnemyConfig[optionGroup].display_name}}</label>
                    <select name="{{optionGroup}}">
                    {%for option in bossEnemyConfig[optionGroup].possible_values%}
                        <option value="{{option}}">{{option}}</option>
                    {%endfor%}
                    </select>
                {%endif%}
            </div>
        {%endfor%}
        </div>
    Generate Spoiler Log: <input type="checkbox" name="spoilerLog"><br>
    <input type='submit'> 
    </div>
</form>

<script>
$(document).ready(function(){
    tail.select("#starting-inventory", {
        multiSelectGroup: true,
    });
});
</script>
{% endblock %}