{% extends "head.jinja" %}
{%block meta%}
    <meta content="KH2 Randomizer Seed" property="og:title">
  <meta content="{% for key in include%}{{key.value}}, {%endfor%}" property="og:description">
    <meta content="{{permalink}}" property="og:url">
    <meta content="{{url_for('static', filename='icon.png')}}" property="og:image">
    <meta content="#e32733" data-react-helmet="true" name="theme-color">
{%endblock%}
{% block content %}
<div class="container">
{% if not permaLink[-1] == "/"%}
    <div class="vertical"><h5>Permalink</h5><a href="{{permaLink}}">{{permaLink}}</a></div>
{% else %}
{%endif%}
{%if spoilerLog != False%}
    <div class="vertical"><h5>Seed</h5>{{seed}}</div>
{%endif%}
<div class="vertical">
<h5>Hash</h5>
<div>
{% for hashIcon in seedHashIcons %}
    {% set imagePath = url_for('static', filename='seed-hash-icons/' + hashIcon + '.png') %}
    <img src="{{imagePath}}" />
{% endfor %}
</div>
</div>
</div>
<form action="/download">
<h4>Included:</h4>
<div class="container">
    {% for key in include %}
        <div><label>{{key.value}}</label></div>
    {% endfor %}
</div>

<div class="container exp">
    <h4>Experience:</h4>
        {%set ns = namespace(counter = 0)%}
        {% for key in expTypes %}
            <div class="vertical"><h5>{{key}}</h5>
                {% if key == "Sora" %}
                    {{soraExpMult}}
                {% elif ns.counter < 6 %}
                    {{formExpMult[ns.counter|int]}}{{formExpMult[ns.counter|string]}}
                {%else%}
                    {{formExpMult[0|int]}}{{formExpMult[0|string]}}
                {% endif %}x
            </div>
            {% set ns.counter = ns.counter+1%}
        {% endfor %}
</div>
<div class="container">
    <div class="vertical"><h4>Keyblade Abilities:</h4> {%for keybladeAbility in keybladeAbilities %}{{keybladeAbility}} {%endfor%}</div>
    <div class="vertical"><h5>Keyblade Minimum Stat</h5> {{keybladeMinStat}}</div>
    <div class="vertical"><h5>Keyblade Max Stat</h5> {{keybladeMaxStat}}</div>
</div>

<div class="container">
    <div class="vertical top"><h5>Hint System</h5>{{hintsType}}<h6>Jsmartee/Points only: Prevent Self Hinting</h6>{{preventSelfHinting}}<h6>Points only: Reports can hint Proofs</h6>{{allowProofHinting}}</div>
    <div class="vertical top"><h5>Starting Inventory</h5>{%for item in startingInventory%}{{idConverter[item]}}<br>{%endfor%}</div>
    <div class="vertical top"><h5>Item Placement Difficulty</h5>{{itemPlacementDifficulty}}</div>
    <div class="vertical top"><h5>Seed Modifiers</h5>{%for modifier in seedModifiers%}{{modifier}}<br>{%endfor%}</div>
</div>

<div class="container col-12">

<div class="vertical">
<h4>Command Menu:</h4>
<select name="cmdMenuChoice">
    {% for key in cmdMenus %}
    <option value="{{key}}">{{cmdMenus[key]}}</option>
    {% endfor %}
</select>
</div>

<div class="vertical">
<h4>Randomize BGM (PC ONLY)</h4>
<select name="randomBGM" multiple="multiple" id="random-bgm">
    <optGroup label="Options" class="group-options">
        {%for option in bgmOptions %}
        <option value="{{option}}">{{option}}</option>
        {%endfor%}
    </optGroup>
    <optGroup label="Games to include" class="group-games">
        {%for option in bgmGames %}
        <option value="{{option}}">{{option}}</option>
        {%endfor%}
    </optGroup>
</select>
</div> 

</div>

<div id="downloadButtons">
<button id="PCSX2" name="platform" value="PCSX2">Generate for PCSX2</button>
<button id="PC" name="platform" value="PC">Generate for PC (beta)</button> <a href="https://github.com/tommadness/KH2Randomizer/blob/master/helpinfo/pc.md">PC Setup Instructions</a>
</div>
</form>
<script>

$(document).ready(function(){
    tail.select("#random-bgm", {
        multiSelectGroup: true,
    });
});

$(function(){
    $('button').click(function(ev){
        var platform = $(this).val();
        var cmdMenuChoice = $("select[name=cmdMenuChoice]").val();
        var randomBGM = $("select[name=randomBGM]").val();
        $("#downloadButtons button").prop('disabled',true).text("Generating...");
        var HOST = location.origin.replace(/^http/, 'ws')
        var socket = io(HOST);
        socket.on('connect', function(){
            socket.emit('download', {platform: platform, cmdMenuChoice: cmdMenuChoice, randomBGM: randomBGM});
        });
        socket.on('file', function(zip){
            console.log(zip);
            blob = new Blob([zip], {type:"application/zip"});
            saveAs(blob, "randoseed.zip");
            socket.disconnect();
        });
        ev.preventDefault();
    });
});

function str2bytes (str) {
    var bytes = new Uint8Array(str.length);
    for (var i=0; i<str.length; i++) {
        bytes[i] = str.charCodeAt(i);
    }
    return bytes;
}
</script>
{%endblock%}

