{% extends "head.jinja" %}
{% block content %}
<h2>OpenKH Setup Guide</h2>
<div class="container answer">
    <div>
    <h3>1. Before installation</h3>
        <div>
            You will need:
            <ul>
                <li>An unpatched Japanese PS2 ISO of Kingdom Hearts 2: Final Mix</li>
                <li>The latest release of <a href="https://github.com/Xeeynamo/OpenKh/releases">OpenKH</a></li>
                <li>The latest PS2 version of <a href="https://docs.google.com/document/d/1GYjEnrM_TIk7qyO75clPLYD-_nP5wTR7K6SE-Wn-QCg/edit#heading=h.4vivvlkpxl0s">Garden of Assemblage</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}