---
---

@import "{{ site.theme }}";

@font-face {
	font-family: khmenu;
	src: url("../font/KHMenu.otf");
}

@font-face {
	font-family: khgummi;
	src: url("../font/KHGummi.otf");
}

@font-face {
	font-family: khtitle;
	src: url("../font/KHTitle.otf");
}

body {
    background-color: #232629;
    color: #FFFFFF;
}

a {
    color: #63c6f5;
    font-family: khmenu;
}

.page-header {
    position: sticky;
    top: 0;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    align-items: center;

    line-height: 1.0;

    background-image: linear-gradient(0deg, #000040, #000020);
}

.page-header a {
    color: white;
    text-decoration: none;
}

.page-header a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.25s;
}

.top-nav-internal {
    position: relative;
}

.top-nav-internal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.top-nav-internal li {
    display: inline-block;
}

.top-nav-internal li a {
    display: block;
    padding: 8px;
    color: white;
}

.top-nav-internal ul ul {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 240px;
    border: 1px solid #666666;
    background-color: #232629;
}

.top-nav-internal ul ul li {
    display: block;
    padding: 4px;
    text-align: left;
}

.top-nav-internal li:hover ul {
    display: block;
}

.top-nav-internal ul ul li a:hover {
    text-decoration: none;
}

.top-nav-right {
    margin-left: auto;
}

.search-container {
    position: relative;
    margin-right: 8px;
    width: 20%;
}

.search-input {
    border-radius: 20px;
    padding: 6px 12px;
    border: none;
    outline: none;
    color: black;
    width: 100%;
}

.dropdown-results {
    position: absolute;
    top: 100%; /* Place right below the search box */
    left: 0;
    width: 100%;
    color: black;
    background-color: #DDDDDD;
    // border: 1px solid #ccc;
    z-index: 10;
    max-height: 400px; /* Limit height for scrolling */
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-results ul {
    margin: 0;
    padding: 0;
    color: black;
}

.dropdown-results li {
    padding: 8px;
    cursor: pointer;
    /* Set font-size as a proportion of the viewport width */
    font-size: min(1.5vw, 24px); /* Set font-size to be the max between 1.5vw and 24px */
    color: black;

    /* Use background-image for the custom bullet */
    background-image: url('/assets/image/item-key.png');
    /* Set background-size as a proportion of the viewport width and height */
    background-size: min(1.5vw, 24px) min(1.5vw, 24px); /* Set background-size to be the max between 1.5vw and 24px */
    background-repeat: no-repeat;
    background-position: 0.5em center; /* Position the bullet */
    list-style-type: none; /* Remove default bullet */
    padding-left: 2em; /* Add space to avoid text overlapping the bullet */
}

.dropdown-results li a {
    padding: 8px;
    cursor: pointer;
    color: black;
}

.dropdown-results li:hover {
    background-color: #f0f0f0;
    color: black;
}

.search-result {
    border-radius: 10px;
    border: 2px solid green;
    flex: 1;
    display: flex;
    margin: 20px;
    align-items: center; /* Align items vertically */
    gap: 10px; /* Add a consistent gap between arrow and content */
}

.arrow {
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
}

.arrow li {
    list-style-type: none; /* Remove default bullet */
    list-style-image: url('/assets/image/right-arrow.png'); /* Use image as bullet */
    padding-left: 2em; /* Adjust spacing for the bullet */
    background-size: contain; /* Ensure the image scales correctly */
    background-repeat: no-repeat;
    background-position: 0.5em center; /* Position bullet near the text */
}

.result-title {
    display: block;
    margin: 20px 20px; /* Equal top and bottom margins */
}

.result-snippet {
    margin: 20px 20px; /* Equal top and bottom margins */
}

.result-score {
    margin: 20px 20px; /* Equal top and bottom margins */
}


.search-result-content {
    flex: 1;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 30px;
    padding: 15px 15px; /* Equal top and bottom padding */
}

.main-content {
    background-color: #31363b;

    h1 {
        padding-left: 4px;
        padding-right: 4px;
        background-color: #503c00;
        color:#fff34b;
        font-family: khmenu;
    }
    h2 {
        color:#fff34b;
        font-family: khmenu;
    }

    h3,
    h4,
    h5,
    h6 {
        color:#fff34b;
    }

    blockquote, code {
        background-color: #111111;
        color: #DDDDDD;
    }

    code,
    pre {
        background-color: #111111;
        color: #DDDDDD;

        > code {
            color: #DDDDDD;
        }
    }
}
